Rooms List :
<!-- {{roomList}} -->
<table class="table">
    <tr>
        <th>S.No</th>
        <th>odd/even</th>
        <th>Room Number</th>
        <th>Room Type</th>
        <th>Room Price</th>
        <th>Amenities</th>
        <th>Checkin Time</th>
        <th>Rating</th>
        <th>
            Select Room
        </th>
    </tr>
    <tr [ngClass]="e?'even':'odd'" *ngFor="let room of rooms; 
            let e=even; let o=odd;let i=index">
        <td>{{i+1}}</td>
        <td>{{e?"Even":"Odd"}}</td>
        <td>{{ room.roomNumber }}</td>
        <td>{{ room.roomtype }}</td>
        <td>{{ room.price | currency:'INR' }}</td>
        <td>{{ room.amenities | titlecase}}</td>
        <td>{{ room.checkintime | date }}</td>
        <td>{{ room.rating }}</td>
        <td>
            <button class="btn btn-primary" (click)="selectRoom(room)">
                Select</button>
        </td>
    </tr>
</table>