/* You can add global styles to this file, and also import other style files */
/* @import'~bootstrap/dist/css/bootstrap.min.css'; */

.even{
    background-color: steelblue;
    color: white;
}
.odd{
    background-color: rgb(255, 22, 6);
    color: white;
}